<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vehicleservice" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="Mical"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vehicleservice"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".Addamount"
            android:exported="false" />
        <activity
            android:name=".vehicle"
            android:exported="false" />
        <activity
            android:name=".Insurence"
            android:exported="false" />
        <activity
            android:name=".CreatePortfolio"
            android:exported="false" />
        <activity
            android:name=".Addvehicle"
            android:exported="false" />
        <activity
            android:name=".sell"
            android:exported="false" />
        <activity
            android:name=".Sendservice"
            android:exported="false" />
        <activity
            android:name=".Viewbuyrequrst"
            android:exported="false" />
        <activity
            android:name=".Viewothervehicle"
            android:exported="false" />
        <activity
            android:name=".Viewrequest"
            android:exported="false" />
        <activity
            android:name=".Viewvehicle"
            android:exported="false" />
        <activity
            android:name=".Userhome"
            android:exported="false" />
        <activity
            android:name=".Image"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ipsettings"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>