{% include 'adminheader.html' %}
<br><br><br>
<center>
<form method="post">
{% if data['updater'] %}
<h1>UPDATE STAFF</h1>

	<table class="table" style="width: 400px">
		<tr>
			<th>First Name</th>
			<td><input type="text" name="fname" value="{{data['updater'][0]['fname']}}" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><input type="text" name="lname" value="{{data['updater'][0]['lname']}}" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>Place</th>
			<td><input type="text" name="place" value="{{data['updater'][0]['place']}}" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>Phone</th>
			<td><input type="text" name="phone"  pattern="[0-9]{10}" value="{{data['updater'][0]['phone']}}" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>email</th>
			<td><input type="text" name="email" pattern=".+gmail/com" value="{{data['updater'][0]['email']}}" required="" class="form-control"></td>
		</tr>
		
		<tr>
			<td colspan="2" align="center"><input type="submit" name="update" value="update" class="btn btn-primary"></td>
		</tr>
	</table>
		

{% else %}
<br><br><br>
<h1>MANAGE STAFF</h1>

	<table class="table" style="width: 500px">
		<tr>
			<th>Firstname</th>
			<td><input type="text" name="fname" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>Lastname</th>
			<td><input type="text" name="lname" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>Place</th>
			<td><input type="text" name="place" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>Phone</th>
			<td><input type="text" name="phone" maxlength="10" pattern="[0-9]{10}" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>Email</th>
			<td><input type="email" name="email" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>Username</th>
			<td><input type="text" name="uname" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>Password</th>
			<td><input type="password" name="pas" required="" class="form-control"></td>
		</tr>
		
		<tr>
			<td colspan="2" align="center"><input type="submit" name="submit" value="submit" class="btn btn-primary" ></td>
		</tr>
	</table>
		

{% endif %}


</form>
</center>
</section>	
</body>


					</div>
					</div>
				</div>
			</div>
		</div>
	</header>

<center>
<h2> Staff</h2>

	 <table class="table" style="width: 200px">
	 	<tr>
	 		<th>Sl.no</th>
	 		<th>First Name</th>
	 		<th>Last Name</th>
	 		<th>Place</th>
	 		<th> Phone</th>
	 		<th> Email</th>
	 		{% for row in data['staff'] %}
	 		<tr>
	 			<td>{{loop.index}}</td>
	 			<td>{{row['fname']}}</td>
	 			<td>{{row['lname']}}</td>
	 			<td>{{row['place']}}</td>
	 			<td>{{row['phone']}}</td>
	 			<td>{{row['email']}}</td>
	 			
	 			<td><a href="?action=delete&id={{row['staff_id']}}" class="btn btn-danger">Delete</a></td>
	 			<td><a href="?action=update&id={{row['staff_id']}}" class="btn btn-warning">Update</a></td>
	 		</tr>
	 		{% endfor %}
	 	</tr>
	 </table>

</center>


{% include 'footer.html'%}