{%include 'staffheader.html'%}
<br><br><br><br>
<center>
	<h1>Requests</h1>
	<table class="table" style="width:600px">
		<tr>
			<th>Slno</th>
			<th>Vehicle</th>
			<th>Date</th>
			<th>Time</th>
			<th>Status</th>
		</tr>
		{%for row in data['staff']%}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['vehicle']}}</td>
			<td>{{row['date']}}</td>
			<td>{{row['time']}}</td>
			{%if row['status']=="accepted"%}
			<td><a href="?action=accept&id={{row['request_id']}}" class="btn btn-success">Approved</a></td>
			<td><a href="?action=reject&id={{row['request_id']}}" class="btn btn-danger">Rejected</a></td>
			{%else%}
			
			<td>{{row['status']}}</td>
			{%endif%}
			
		</tr>
		{%endfor%}
	</table>
</center>

{%include 'footer.html'%}